.container {
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 1000px;
}

@media screen and (min-width: 1200px) {
    .container {
        height: 155vh;
    }
}