<section class="logo">
    <span>GetDreamJob.com</span>
    <span>Developed By <br> Adarsh Dhulaj </span>
</section>

<section class="links">
    <ul class="site-info">
        <li routerLink="about">About Us</li>
        <li routerLink="private-policy">Private Policy</li>
        <li routerLink="team-members"> Support Team Members </li>
    </ul>
    <ul class="refernces">
        <li href="https://www.indiabix.com/aptitude/questions-and-answers/">Study Material</li>
        <li href="https://www.themuse.com/advice/interview-questions-and-answers">Interview Questions</li>
    </ul>
</section>

<section class="contact-info">
    <span class="Name">
        Adarsh Dhulaj
    </span>

    <span class="email">
        GetDreamJob@gmail.com
    </span>

    <span class="website">
        <a href="www.getdreamjob.com">www.getdreamjob.com</a>
    </span>

</section>
