<div class="category">
  <!-- <ul class="links"> -->
    <a href="home">Home</a>
</div>
<div class="category">    
  <a href="internship">Internship</a>
</div>
<div class="category">
      
        <a  class=" dropdown-toggle" data-bs-toggle="dropdown"  >Job By Education</a>
        <!-- <input type="checkbox" id="show-education">   -->
        <!-- <label for="show-education">Job By Education</label> -->
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="Any Graduate Jobs">Any Graduate Jobs</a></li>
          <li><a class="dropdown-item" href="Bachelore Graduate Jobs">Bachelore Graduate Jobs</a></li>
          <li><a class="dropdown-item" href="Master Graduate Jobs">Master Graduate Jobs</a></li>
          <li><a class="dropdown-item" href="Engineer Graduate Jobs">Engineer Graduate Jobs</a></li>
          <li><a class="dropdown-item" href="Experinced Candidates Jobs">Experinced Candidates Jobs</a></li>
        </ul>
      
</div>

<div class="category">
      
        <a class=" dropdown-toggle" data-bs-toggle="dropdown" >Job By City</a>
        <!-- <input type="checkbox" id="show-city"> -->
        <!-- <label for="show-city">Job By City</label> -->
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Benglore Jobs</a></li>
          <li><a class="dropdown-item" href="#">Chennai Jobs</a></li>
          <li><a class="dropdown-item" href="#">Delhi NCR Jobs</a></li>
          <li><a class="dropdown-item" href="#">Guragoan Jobs</a></li>
          <li><a class="dropdown-item" href="#">Hydrabaad Jobs</a></li>
          <li><a class="dropdown-item" href="#">Kolkata Jobs</a></li>
          <li><a class="dropdown-item" href="#">Pune Jobs</a></li>
          <li><a class="dropdown-item" href="#">Mumbai Jobs</a></li>
          <li><a class="dropdown-item" href="#">Noida Jobs</a></li>
        </ul>
      
</div>

    
        




